SOAP_ENDPOINT=https://wsrtv.ant.gob.ec/rtv/SolicitarOrdenGAD
SOAP_ACTION_SOLICITAR=http://www.ant.gob.ec/solicitarOrdenGAD
SOAP_ACTION_FINALIZAR=http://www.ant.gob.ec/finalizarOrden
SOAP_ACTION_ANULAR=http://www.ant.gob.ec/anularOrden
# Credenciales WS-Security
SOAP_USERNAME=GADSANVIC
SOAP_PASSWORD_SOLICITAR=Y@3r*y!R?C
SOAP_PASSWORD_FINALIZAR=Y@3r*y!R?
SOAP_PASSWORD_ANULAR=Y@3r*y!R?
SOAP_TIMEOUT_SECONDS=30
WAIT_MIN_MINUTES=2.5
WAIT_MAX_MINUTES=5.0
MAX_RETRIES=3
RETRY_BACKOFF_SECONDS=5
DATABASE_PATH=auto_rtv.db
POLL_INTERVAL_SECONDS=10
